.container {
    flex: 1;
    
    padding: 10px 40px;
}

.search-container > button {
    box-shadow: 20px;
}

.searchresults {
    background-color: white;
    padding: 0.5em 1em;
    border-radius: 5px;
    box-shadow: -1px 0px 5px 5px #f4f5fa;
}